.home {
    padding-top: 37px;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    .title {
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #010A09;
    }

    .left {
        width: 894px;
        margin-right: 86px;
        flex-shrink: 0;

        .flex-box {
            display: flex;
            align-items: center;
            justify-content: space-between;



            .more {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */

                text-align: center;

                color: #000000;
                cursor: pointer;
            }
        }

        .box-nft {
            display: flex;
            margin-top: 45px;
            margin-bottom: 40px;

            .box-nft-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                .nft-img {
                    width: 100%;
                    height: 262px;
                    margin-bottom: 22px;
                }

                .nft-name {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    padding-bottom: 9px;
                    color: #010A09;
                }
            }
        }

    }

    .right {
        width: 352px;
        flex-shrink: 0;

        .rank-list {
            padding-top: 37px;

            .rank-list-li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 21px;

                div {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 40px;
                    border-radius: 5px;
                    height: 40px;
                    margin-right: 12px;
                }

                .name {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;

                    color: #010A09;
                }
            }
        }

    }

    .popular {
        margin-top: 96px;
        padding-bottom: 22px;
        .title {
            margin-bottom: 33px;
        }

        .popular-box {
            display: flex;
            padding-bottom: 26px;
            margin-bottom: 25px;
            border-bottom: 2px solid #F5F5F5;
            img {
                width: 110px;
                height: 144px;
                margin-right: 34px;
                border-radius: 6px;
            }

            .popular-content {
            
                .popular-intro {

                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;

                    color: #010A09;
                padding-bottom: 13px;
                }
                .popular-article {
                    display: flex;
                    align-items: center;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    padding-bottom: 22px;
                    color: #010A09;
                    .articel {
                        color: #000;
                        font-weight: bold;
                        padding-right: 13px;
                    }
                    .comment {
                       padding-right: 10px; 
                    }
                }
                .desc {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    
                    color: #878787; 
                }
            }
        }
    }
}